/* 按钮 */

.btn {
    display: inline-block;
    border: none;
    border-radius: 4px;    /* 圆角 */
    text-align: center;
    background-color: indianred;
    font-size: 12px;
    padding: 10px;
    height: 15px;
    width: 80px;
    transition: all 0.5s;    /* 渐变 */
    cursor: pointer;
    position: relative;
    /* right: -45%; 
    top: 85%; */
}

.btn a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

/* 使用伪元素 after，制作箭头动画 */
.btn a:after {
    content: ">>";
    position: absolute;
    opacity: 0;    /* 完全透明 */
    top: 0;
    right: -20px;    /* 把图像的右边缘设置在其包含元素右边缘向左 -20 像素的位置 */
    /* transition: 0.5s; */
}

/* 当鼠标移动到按钮上时，按钮元素向左 25px */
.btn:hover a {
    padding-right: 25px;
    color: gold;
}

/* 当鼠标移动到按钮上时，触发箭头动画 */
.btn:hover a:after {
    opacity: 1;    /* 完全不透明，即完全显示 */
    right: 0;    /* 把图像的右边缘设置在其包含元素右边缘向左 0 像素的位置，即恢复原状 */
}